.Yuiko {
  text-align: center;
}

.Yuiko-logo {
  height: 40vmin;
}

.Yuiko-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Yuiko-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #121212;
  color: white;
  text-align: center;
}

.Yuiko-link {
  color: #fd79a8;
}
