.List-navbar {
  background-color: var(--foreground);
  position: fixed;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: block;
  margin-left: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  max-width: calc(100vw - 93px);
}

.List-navbar a {
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 0 14px 0 14px;
}

.List-navbar a:hover {
  color: var(--primary-light);
}

.List-content {
  display: inline-block;
  margin-top: 55px;
  margin-bottom: 25px;
}

.List-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Create a separate div for the content, and keep the same padding from the .topnav a */
