.AnimeList-navbar {
  background-color: #121212;
  position: fixed;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: block;
  margin-left: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  max-width: calc(100vw - 96px);
  /* max-width: calc(100% - 96px); */
}

.AnimeList-navbar a {
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 0 14px 0 14px;
}

.AnimeList-navbar a:hover {
  color: blueviolet;
}

.AnimeList-content {
  display: inline-block;
  margin-top: 55px;
  margin-bottom: 25px;
}

.AnimeList-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Create a separate div for the content, and keep the same padding from the .topnav a */
