.topnav {
  display: block;
  margin-left: 0;
  width: 100%;
}

.topnav ul {
  margin-top: 0;
  padding: 0;
  position: static;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 0;
}

.topnav li {
}

.topnav a {
  float: left;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 7px 2%;
}

.topnav a:hover {
  color: blueviolet;
}

/* Create a separate div for the content, and keep the same padding from the .topnav a */
